{<<"name">>,<<"provider_asn1">>}.
{<<"version">>,<<"0.2.3">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"provider_asn1">>}.
{<<"maintainers">>,[<<"knusbaum <KyleJNusbaum@gmail.com>">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Compile ASN.1 with Rebar3">>}.
{<<"files">>,
 [<<"src/provider_asn1.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/provider_asn1.erl">>,
  <<"src/provider_asn1_clean.erl">>,<<"src/provider_asn1_compile.erl">>,
  <<"src/provider_asn1_util.erl">>]}.
{<<"licenses">>,[<<"MIT/Expat">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/knusbaum/provider_asn1">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
